.header {
    display: flex;
    background-color: var(--primary-color);
    color: var(--white);
    align-items: center;
    justify-content: space-between;
    .headerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        background-color: var(--secondary-color);
        font-size: min(14px, 2vh);
        border-radius: 0.3vh;
        padding: 0 1vw;
        margin: 0 1vw;
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }
    .headerButton:hover {
        background-color: var(--highlight-color);
    }
    .leftButtons {
        display: flex;
        justify-content: left;
        width: 25vw;
        margin: 0 2vw;
    }
    .rightButtons {
        display: flex;
        justify-content: right;
        width: 25vw;
        margin: 0 2vw;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 5vh;
        font-weight: bold;
        font-size: min(22px, 3vh);
        cursor: default;
    }
}

.tableWrap {
    overflow: scroll;
    width: 100%;
    height: 95vh;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--white);
}

table {
    border-collapse: collapse;
    width: 100%;
    thead {
        position: sticky;
        top: 0;
        z-index: 9000;
    }
    .headTd {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        padding-left: 10px;
        border: 0;
        background-color: var(--secondary-color);
        color: white;
        height: 40px;
        cursor: default;
        .filterIcon {
            display: flex;
            align-items: center;
            width: 28px;
            svg {
                transition: fill 0.2s ease-in-out;
            }
        }
        .filterIcon:hover {
            cursor: pointer;
            svg {
                fill: var(--primary-color);
            }
        }
        .sortFlex {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .sortIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                transition: color 0.2s ease-in-out;
            }
        }
        .textInput {
            background: none;
            outline: 0;
            border: 0;
            color: white;
            width: 100%;
            padding: 0;
            margin: 0;
            overflow: visible;
        }
        .textInput::placeholder {
            color: white;
        }
        .dateInput {
            background: none;
            outline: 0;
            border: 0;
            color: white;
            padding: 0;
            margin: 0;
            overflow: visible;
        }
    }
    .headTd:hover { 
        .sortIcon {
            color: var(--primary-color);
        }
    }

    .bodyTd {
        box-sizing: border-box;
        padding: 0;
        padding-left: 10px;
        border: 0;
        background-color: var(--white);
        height: 40px;
        .trash {
            display: flex;
            justify-content: center;
            width: 28px;
            height: 28px;
            pointer-events: all;
            cursor: pointer;
    
            svg {
                width: 22px;
                height: 28px;
                fill: var(--red-color);
                transition: all 0.05s ease-in-out 0.5s;
    
                #lid {
                    transition: transform 0.25s ease-out;
                    transform: translate(0px, 0pc) rotate(0deg);
    
                }
            }
    
            svg:hover {
                #lid {
                    transform: translate(-3px, -1px) rotate(-9deg);
                }
            }
        }
    }

    .bodyRow:nth-child(even) {
        .bodyTd {
            background-color: var(--gray);
        }
    }
}

.customTooltip {
    z-index: 9998;
    position: absolute;
    padding: 10px;
    background-color: var(--tooltip-background);
    color: var(--white);
    border-radius: 5px;
    line-height: 20px;
  
    .message {
      position: relative;
      z-index: 9999;
    }
  }