<h1>Artikli</h1>
<h1>Administracija</h1>
<table>
  <thead>
    <tr>
      <td>Kategorija</td>
      <td>Artikl</td>
      <td>Opis</td>
      <td>Cijena</td>
      <td>Aktivno</td>
      <td>U skladištu</td>
      <td>Mj. jedinica</td>
      <td>Kreirano</td>
      <td>Ažurirano</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of artikli">
      <td>{{a.category}}</td>
      <td>{{a.name}}</td>
      <td>{{a.description}}</td>
      <td>{{a.price}}</td>
      <td>{{a.active}}</td>
      <td>{{a.in_stock}}</td>
      <td>{{a.unit}}</td>
      <td>{{a.created_at}}</td>
      <td>{{a.last_update}}</td>
      <td></td>
    </tr>
  </tbody>
</table>